export DATABASE_URL=postgres://postgres@localhost:5432/practical_microservices
export MESSAGE_STORE_CONNECTION_STRING=postgres://postgres@localhost:5433/message_store
export NODE_ENV=development
export PORT=3000
export APP_NAME='Video Tutorials'

